{% extends "melange.html" %}
{% block title %}{{ tag.name }}{% endblock %}
{% block head %}
<script src="/static/knockout-2.2.1.js"></script>
<script src="/static/varsmodel.js"></script>
<link rel="stylesheet" href="/static/varsmodel.css">

<style>
.items {
    float: right;
}
.items h2:first-of-type {
    margin-top: 0;
}
.items li {
    list-style-type: none;
    background-color: #ccc;
    border: 1px solid #aaa;
    margin:0.5em;
    padding: 0.2em;
}
.items a {
    line-height: 160%;
}
</style>
{% endblock %}
{% block content %}

<h1>{{ tag.name }}</h1>

<div class="items">
<h2>Items</h2>
<ul>
    <li>
        <form method="POST" action="/item/">
        <input type="text" name="item-name" size="30"> <input type="hidden" name="tag-name" value="{{ tag.name }}"><input type="submit" name="item-add" value="Add">
        </form>
    </li>
{% for item in tag.items|sort(attribute='name') %}
    <li><a href="{{ url_for('show_item',name=item.name) }}">{{ item.name }}</a>
{% endfor %}
</ul>
</div>

<h2>Properties</h2>
<div id="var-editor" data-model="{{ url_for('melange_api.show_tag',name=tag.name) }}">
<table>
<tbody data-bind="foreach: variables">
<tr>
    <td><input data-bind="value: key">
    <td class="var-value">
        <!-- ko if: type()==="text" --><input size="50" data-bind="value: value"> <!-- /ko -->
        <!-- ko if: type()==="list" -->
        <ul data-bind="foreach: value">
            <li><input size="50" data-bind="value: $data.value"> <input type="submit" value="x" data-bind="click: $parent.removeListValue"></li>
        </ul>
        <p><input type="submit" value="Add" data-bind="click: addListValue"></p>
        <!-- /ko -->
        <!-- ko if: type()==="map" -->
        <ul data-bind="foreach: value">
            <li><input data-bind="value: k"> : <input size="50" data-bind="value: v"> <input type="submit" value="x" data-bind="click: $parent.removeMapValue"></li>
        </ul>
        <p><input type="submit" value="Add" data-bind="click: addMapValue"></p>
        <!-- /ko -->
    <td><input type="submit" value="X" data-bind="click: $parent.removeVar">
</tr>
</tbody>
</table>
<p><select data-bind="options: types" id="variable-type"></select> <input type="submit" value="Add" data-bind="click: addVar"> 
<p><input type="submit" value="Save" data-bind="click: save">
</div>

<h2>Remove</h2>
<form method="POST">
<p><input type="submit" name="tag-remove" value="Remove {{ tag.name }}">
</form>
{% endblock %}
