{% extends "melange.html" %}
{% block title %}{{ tag.name }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/varsmodel.css">

<style>
.items {
    float: right;
}
.items h2:first-of-type {
    margin-top: 0;
}
.items li {
    list-style-type: none;
    background-color: #ccc;
    border: 1px solid #aaa;
    margin:0.5em;
    padding: 0.2em;
}
.items a {
    line-height: 160%;
}
</style>
{% endblock %}
{% block content %}

<h1>{{ tag.name }}</h1>

<div class="items">
<h2>Items</h2>
<ul>
    <li>
        <form method="POST" action="/item/">
        <input type="text" name="item-name" size="30"> <input type="hidden" name="tag-name" value="{{ tag.name }}"><input type="submit" name="item-add" value="Add">
        </form>
    </li>
{% for item in tag.items|sort(attribute='name') %}
    <li><a href="{{ url_for('show_item',name=item.name) }}">{{ item.name }}</a>
{% endfor %}
</ul>
</div>

<h2>Properties</h2>
<div id="var-editor">
{% from 'varsmodel.html' import varsmodel %}
{{ varsmodel(var_list) }}
</div>

{% for plugin in config.tag_plugins %}
{{ plugin(tag)|safe }}
{% endfor %}

<h2>Remove</h2>
<form method="POST">
<p><input type="submit" name="tag-remove" value="Remove {{ tag.name }}">
</form>
{% endblock %}
